<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/assets/favicon.ico?v=004" type="image/x-icon" />
    <title>App</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
</body>
    {{{body}}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react-router/1.0.0/ReactRouter.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js"></script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/history/1.12.6/History.js"></script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.7.0/axios.js"></script>    
</html>